.sliderContainer {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 24px;
}

.track {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: #ddd;
    border-radius: 4px;
    transform: translateY(-50%);
}

.rangeTrack {
    position: absolute;
    top: 50%;
    height: 4px;
    background: #2B7FFF;
    border-radius: 4px;
    transform: translateY(-50%);
}

.sliderContainer input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% + 18px);
    left: -9px;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.sliderContainer input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 3px solid #23a9f7;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
}

.sliderContainer input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 3px solid #23a9f7;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
}